{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "printWidth": 90,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
